@use "./style";

.group{
    position: relative;
    outline: none;
    &[data-active="true"]{
        .label{
            background-color: style.$accentColor;
        }
    }
}

.label{
    padding: 0 4px;

}

.list{
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 20px 2fr 1fr;
    column-gap: 4px;
    min-width: 120px;
    padding: 4px 0;
    background-color: style.$listBackgroundLight;
    box-shadow: 0 0 4px 0 black;

    &[data-theme="dark"]{
        background-color: style.$listBackgroundDark;
    }
}
