@use "./style";

.listItem{
    all: unset;
    width: 100%;
    padding: 2px 4px;
    box-sizing: border-box;
    display: grid;
    grid-column: span 3;
    grid-template-columns: subgrid;
    align-items: center;
    outline: none;
    white-space: nowrap;
    text-wrap: nowrap;
    &[data-animation-enabled="true"]{
        transition: 0.5s style.$ease-out-expo;
    }
    &:hover,&:focus{
        background-color: style.$accentColor;
    }
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}



.hintLabel{
    font-size: 0.8em;
    color: style.$hintlabelColor;
}
