$barBackgroundLight:rgb(245,245,245);
$listBackgroundLight:rgb(230,245,245);
$textColorLight:rgb(8,15,17);
$barBackgroundDark:rgb(30,30,30);
$listBackgroundDark: rgb(30, 41, 50);
$textColorDark:rgb(228,245,247);
$hintlabelColor:rgb(150,150,150);

$accentColor: rgb(20, 165, 226);

$ease-out-expo:cubic-bezier(0.16, 1, 0.3, 1);

@keyframes slideDown {
    from{
        opacity: 0;
        top: calc(100% - 8px);
    }
    to{
        opacity: 1;
        top: 100%;
    }
}

@keyframes slideRight {
    from{
        opacity: 0;
        left: calc(100% - 8px);
    }
    to{
        opacity: 1;
        left: 100%;
    }
}
