$barBackgroundLight:rgb(245,245,245);
$listBackgroundLight:rgb(230,245,245);
$textColorLight:rgb(8,15,17);
$barBackgroundDark:rgb(30,30,30);
$listBackgroundDark: rgb(30, 41, 50);
$textColorDark:rgb(228,245,247);
$hintlabelColor:rgb(150,150,150);

$accentColor: rgb(20, 165, 226);
