@use "./style";

.subgroup{
    position: relative;
    outline: none;
    display: grid;
    grid-column: span 3;
    grid-template-columns: subgrid;
    &:focus,&:focus-visible,&:focus-within                           {
        .label{
            background-color: style.$accentColor;
        }

    }
}

.label{
    //grid-template-columns: 20px 1fr 20px;

    .arrow{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.list{
    left: 100%;
    top: 0;
}
